
<div *ngIf="player">
	<h3>
		<!--span class="btn-group pull-right">
			<a class="btn btn-default"><span class="far fa-question-circle" aria-hidden="true"></span></a>
		</span-->
		{{player.character_name}}
		<small>{{player.game.name}}, {{player.calc.month}}, {{player.calc.year}} A.F.</small>
	</h3>
	
	<div class="row">
		<div class="col-sm-4">
			<app-actions [player]="player"></app-actions>
		</div>
		<div class="col-sm-8">
			<app-upgrades [player]="player"></app-upgrades>
		</div>
		<div class="col-sm-6">
			<app-battalions [player]="player"></app-battalions>
		</div>
		<div class="col-sm-6">
			<app-mail></app-mail>
		</div>
	</div>
</div>