{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h3>Generally Puzzling</h3>
            <p>I enjoy solving puzzles, and occasionally creating them.</p>
            <p>I highly recommend <a href="http://www.puzzledpint.com/">Puzzled Pint</a>. Their <a href="http://www.puzzledpint.com/index.php/download_file/view/997/351/">code sheet</a> also frequently comes in useful.</p>
        </div>
        <div class="col-md-6">
            <h3>Puzzles I've Created</h3>
            {% if latest_released_puzzle_list %}
                {% for puzzle in latest_released_puzzle_list %}
                    <h4>{{puzzle.title}} <small class="pull-right">{{puzzle.release_date|date:"Y-m-d"}}</small></h4>
                    {{puzzle.puzzle_html}}
                    {% include "puzzles/puzzle_checkform.html" %}
                    &nbsp;
                {% endfor %}
                &nbsp;<!--p><a href="" class="btn btn-primary pull-right">All Puzzles</a></p-->
            {% else %}
                <p>No puzzles available.</p>
            {% endif %}
        </div>
{% endblock %}
