{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h3>Keep Trying!</h3>
            <p>That wasn't quite correct.</p>
            <p>The answer is 6 letters.</p>
            <form role="form" action="{% url 'puzzles:solved' %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" name="solution" placeholder="Solution...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Check</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
