.tri { stroke-width: 1; stroke: #eee; fill: none; }
.tri-land { fill: #ad8; }
.tri-mountain { fill: #bb9; }
.tri-sea { fill: #bdf; stroke-dasharray: 3,3; }
.tri-text { font-size: .5rem; fill: #999; }
.adj-face-circle { stroke-width: 2; stroke: #aaa; fill: #eee; }