{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<h1 class="text-center">Tristan Wagner</h1>

	<ul>
		<li><a href="{% url 'bgg_stats:index' %}">Board Game Stats</a></li>
		<li><a href="{% url 'deveconsim:index' %}">Developing Economy Simulation</a></li>
		<li><a href="{% url 'mpatrol:index' %}">Mossfower Patrol Game</a></li>
		<li><a href="{% url 'puzzles:index' %}">Puzzles</a></li>
		<li><a href="{% url 'checklist:index' %}">Checklists</a></li>
	</ul>
	
	<div class="alert alert-warning">Need to add attribution page!</div>

<!--svg viewBox="0 0 512 512" height="300">
	<g fill="none" stroke="black" stroke-width="10" stroke-linejoin="round" stroke-linecap="round"-->

	
{% endblock %}
