{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<section class="section container">
	<h1 class="title has-text-centered">Tristan Wagner</h1>
	<div class="columns">
		<div class="column is-half is-offset-one-quarter">
		
			<article class="media">
				<figure class="media-left">
					<a class="image is-64x64" href="{% url 'puzzles:index' %}">
						<img class="is-rounded" src="{% static 'img/puzzle.jpg' %}" />
					</a>
				</figure>
				<div class="media-content">
					<div class="content">
						<strong><a href="{% url 'puzzles:index' %}">Puzzles</a></strong><br/>
						I enjoy solving puzzles, and occasionally creating them.
					</div>
				</div>
			</article>
			
			<article class="media">
				<figure class="media-left">
					<a class="image is-64x64" href="{% url 'bg_rec:index' %}">
						<img class="is-rounded" src="{% static 'img/kniziashelf.jpg' %}" />
					</a>
				</figure>
				<div class="media-content">
					<div class="content">
						<strong><a href="{% url 'bg_rec:index' %}">Board Game Recommender</a></strong><br/>
						Enter a board game you like and get some recommendations.
					</div>
				</div>
			</article>
			
			<article class="media">
				<div class="media-content">
					<div class="content">
						I'm in the process of remaking my personal website.
					</div>
				</div>
			</article>
		</div>
		
	{% if user.is_staff %}
		<div class="column">
			<article class="message">
				<div class="message-header">Admin Links</div>
				<div class="message-body">
					<ul>
						<li><a href="{% url 'timetracker:index' %}">Time Tracker</a></li>
						<li><a href="{% url 'bgg_stats:index' %}">Board Game Stats</a></li>
						<li><a href="{% url 'deveconsim:index' %}">Developing Economy Simulation</a></li>
						<li><a href="{% url 'mpatrol:index' %}">Mossfower Patrol Game</a></li>
						<li><a href="{% url 'checklist:index' %}">Checklists</a></li>
					</ul>
				</div>
			</article>
		</div>
	{% endif %}
	</div>
</section>
{% endblock %}
