{% extends "base.html" %}
{% load staticfiles %}

{% block belowcontainer %}
    <nav class="navbar navbar-inverse navbar-fixed-bottom" id="game-nav">
        <div class="container">
            <div class="nav navbar-nav">
				<span class="btn-group btn-group-sm">
                    <a href="{% url 'mpatrol:index' %}" class="btn btn-default" title="Intro"><span class="fas fa-chess-knight" aria-hidden="true"></span></a>
					<a class="btn btn-default" title="High Score Rank ?"><span class="fas fa-star" aria-hidden="true"></span> ?</a>
				</span>
				<span class="game-nav-info">
                    &nbsp;&nbsp;<a title="Leader Level {{player.ll.level}}">{{player.ll.level}} <span class="fas fa-user" aria-hidden="true"></span></a>
                    &nbsp;&nbsp;<a title="{{player.gold}} Gold">{{player.gold}} <span class="fas fa-coins" aria-hidden="true"></span></a>
					&nbsp;&nbsp;<a title="{{player.xp}} Experience">{{player.xp}} <span class="fas fa-angle-double-up" aria-hidden="true"></span></a>
                </span>
            </nav>
        </div>
    </nav>
    
    <div class="modal fade" id="moreInfo" tabindex="-1" role="dialog" aria-labelledby="moreInfoLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="moreInfoLabel">{% block moreinfotitle %}More Info{% endblock %}</h4>
                </div>
                <div class="modal-body">{% block moreinfo %}More info goes here.{% endblock %}</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
