{% extends "base.html" %}
{% load staticfiles %}

{% block belowcontainer %}
    <nav class="navbar navbar-inverse navbar-fixed-bottom" id="game-nav">
        <div class="container">
            <div class="nav navbar-nav">
                <span class="btn-group btn-group-sm">
                    <a href="{% url 'mpatrol:index' %}" class="btn btn-default" title="Overview"><span class="glyphicon glyphicon-knight" aria-hidden="true"></span></a>
                    <a class="btn btn-default" title="Hire"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
					<a class="btn btn-default" title="Level Up"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
					<a class="btn btn-default" title="Messages"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
                    <a href="{% url 'mpatrol:reference' %}" class="btn btn-default" title="Reference"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                </span>
                <span class="btn-group btn-group-sm pull-right">
                    <a class="btn btn-success" title="Work"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span></a>
					<a class="btn btn-warning" title="Spy"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span></a>
                    <a class="btn btn-danger" title="Attack"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span></a>
                </span>
            </nav>
        </div>
    </nav>
    
    <div class="modal fade" id="moreInfo" tabindex="-1" role="dialog" aria-labelledby="moreInfoLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="moreInfoLabel">{% block moreinfotitle %}More Info{% endblock %}</h4>
                </div>
                <div class="modal-body">{% block moreinfo %}More info goes here.{% endblock %}</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
