<div class="table-responsive">
	<table class="table table-striped">
		<tr>
			<th>Creature</th>
			<th>Min<br/>Leader<br/>Level</th>
			<th>Attack</th>
			<th>Defense</th>
			<th>Cost in<br/>Creature<br/>Points</th>
			<th>Cost in<br/>Gold</th>
			<th>Gold from<br/>Working</th>
			<th>Experience<br/>from Working</th>
			<th>Overseeing<br/>Capability</th>
		</tr>
		{% for creature in creature_list %}
		<tr>
			<td>{{creature.name}}</td>
			<td>{{creature.min_ll}}</td>
			<td>{{creature.attack}}</td>
			<td>{{creature.defense}}</td>
			<td>{{creature.cost_cp}}</td>
			<td>{{creature.cost_gold}}</td>
			<td>{{creature.work_gold}}</td>
			<td>{{creature.work_exp}}</td>
			<td>{{creature.oversee}}</td>
		</tr>
		{% endfor %}
	</table>
</div>