{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<div>
		<app-root></app-root>
		<script type="text/javascript" src="{% static 'mpatrolfrontend/runtime.js' %}"></script>
		<script type="text/javascript" src="{% static 'mpatrolfrontend/polyfills.js' %}"></script>
		<script type="text/javascript" src="{% static 'mpatrolfrontend/styles.js' %}"></script>
		<script type="text/javascript" src="{% static 'mpatrolfrontend/vendor.js' %}"></script>
		<script type="text/javascript" src="{% static 'mpatrolfrontend/main.js' %}"></script>
	</div>
{% endblock %}
