{% extends "mpatrol/base.html" %}
{% load staticfiles %}

{% block content %}
        
	<h4><span class="glyphicon glyphicon-knight" aria-hidden="true"></span> Mossflower Patrol Game</h4>
	<div class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<p><b><i>Abstracts from the Records of Davidias the Wise</i></b></p>
		<p>Hello, fellow Patrollers, and welcome to the Mossflower Patrol game! We are happy to have you here. As official recorder, I will try to put all of the learnings from my many years in the Patrol here an paper for you. Let me split the basics into several main points...</p>
		<p><ol>
			<li><b>Hire creatures!</b> This should be the very first thing you do when you log into the game for the first time. I would recommend hiring five shrews or five voles. To hire creatures, just click the Hire Creatures button on the menu to the left, and follow the instructions from there. For more information of the different types of creatures, you can look at the tables towards the bottom of the Hire Creatures page.</li>
			<li><b>Put your creatures to work!</b> As a Patrol Leader, you need to make money to hire more creatures. Money is represented by gold. The main way to do this is to put your creatures to work. Just click the Spend a Turn Working button on the page you go to after logging in (you might have to scroll down to see it), and your creatures will be put to work doing various jobs. You get both gold and experience for this. You can only click this button once per "turn," which represents two months in Mossflower Patrol time. In real time, one "turn" is about one day. Sometimes "turns" start and end at weird times, though, usually about 5:00. If you want to know the date in Mossflowre Patrol time, it's under the title of every page in the game.</li>
			<li><b>Upgrade your leader's level!</b> You can do this by clicking the Leader Level Up button on the menu. Increasing your leader's level improves their skills as a leader, giving them the skill to command different types of creatures. They also get a small attack bonus, and are put in charge of protecting more villagers. These extra villagers can supply your army with more food and water, represented by creature points, which lets you build a larger army. Increasing your leader's level also gives them more life in battles. All you need to upgrade your leader's level is experience. Higher levels cost more to upgrade to.</li>
			<li><b>Spy and attack!</b> Attacking, or challenging another Patrol Leader, is an important part of the game. Once you think you have enough troops, you can attack another player by going to attack page, by clicking the Attack button on the menu. Before you attack, you may want to spy on an enemy, to see if they're stronger or weaker than you. You can do this by going to the espionage page, by clicking the Espionage button on the menu. Both attacking and spying take one turn.</li>
		</ol></p>
		<p>With this basic knowledge, you have the power to suceed in the game. Good luck, Patroller!</p>
	</div>
		
	<p>month, year A.F.</p>
	<p><a href="#">You have n new message(s).</a></p>
	<div class="row">
		<div class="col-md-6">
			<table class="table">
				<tr>
					<th>Gold</th>
					<td>{{player.gold}}</td>
				</tr>
				<tr>
					<th>Experience</th>
					<td>{{player.xp}}</td>
				</tr>
				<tr>
					<th>Leader Level</th>
					<td>{{player.ll.level}}</td>
				</tr>
				<tr>
					<th>Life</th>
					<td>{{player.ll.life}}</td>
				</tr>
				<tr>
					<th>Available Creature Points</th>
					<td>{{calc.cp_avail}}</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">
			<table class="table">
				<tr>
					<th>Attack Rating</th>
					<td>{{calc.attack|floatformat:2}}</td>
				</tr>
				<tr>
					<th>Defense Rating</th>
					<td>{{calc.defense|floatformat:2}}</td>
				</tr>
				<tr>
					<th>Gold per Turn</th>
					<td>{{calc.work_gold}}</td>
				</tr>
				<tr>
					<th>Experience per Turn</th>
					<td>{{calc.work_xp}}</td>
				</tr>
				<tr>
					<th>Battles Fought</th>
					<td>{{player.battles_fought.count}}</td>
				</tr>
			</table>
		</div>
	</div>
	<table class="table">
		<tr>
			<th>
				<span class="btn-group btn-group-sm">
					<a href="#" class="btn btn-default" title="Research"><span class="fas fa-plus" aria-hidden="true"></span></a>
				</span>
				Technologies Researched</th>
			<td>
			{% for tech in player.technologies.all %}
				{{tech.name}}{% if not forloop.last %},{% endif %}
			{% empty %}
				-
			{% endfor %}
			</td>
		</tr>
		<tr>
			<th>
				<span class="btn-group btn-group-sm">
					<a href="#" class="btn btn-default" title="Build"><span class="fas fa-plus" aria-hidden="true"></span></a>
				</span>
				Structures Built
			</th>
			<td>
			{% for structure in player.structures.all %}
				{{structure.name}}{% if not forloop.last %},{% endif %}
			{% empty %}
				-
			{% endfor %}
			</td>
		</tr>
	</table>
	
	<table class="table">
		<tr>
			<th></th>
			<th>Battalion</th>
			<th>Creature</th>
			<th>Count</th>
			<th>Level</th>
			<th>Weapon Base</th>
			<th>Weapon Material</th>
		</tr>
		{% for b in player.battalion_set.all %}
			<tr>
				<td>
					<span class="btn-group btn-group-sm">
						<a href="#" class="btn btn-default" title="Hire"><span class="fas fa-plus" aria-hidden="true"></span></a>
						<a href="#" class="btn btn-default{% if not b.count %} disabled{% endif %}" title="Fire"><span class="fas fa-minus" aria-hidden="true"></span></a>
					</span>
				</td>
				<td>{{b.battalion_number}}</td>
				<td>{{b.creature|default_if_none:"-"}}</td>
				<td>{{b.count}}</td>
				<td>{{b.level}}</td>
				<td>{{b.weapon_base|default_if_none:"-"}}</td>
				<td>{{b.weapon_material|default_if_none:"-"}}</td>
			</tr>
		{% endfor %}
	</table>

	<p><a href="newdeal.e.txt">Spend a Turn Working</a></p>
	
	<div>
		<app-root></app-root>
		<script type="text/javascript" src="{% static 'mpatrolfrontend/runtime.js' %}"></script>
		<script type="text/javascript" src="{% static 'mpatrolfrontend/polyfills.js' %}"></script>
		<script type="text/javascript" src="{% static 'mpatrolfrontend/styles.js' %}"></script>
		<script type="text/javascript" src="{% static 'mpatrolfrontend/vendor.js' %}"></script>
		<script type="text/javascript" src="{% static 'mpatrolfrontend/main.js' %}"></script>
	</div>
{% endblock %}