{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block extracss %}
	{{ block.super }}
	{% render_bundle 'vendors' 'css' 'TRIWORLD' %}
	{% render_bundle 'main' 'css' 'TRIWORLD' %}
	{% render_bundle 'runtime-main' 'css' 'TRIWORLD' %}
{% endblock %}

{% block content %}
<div id="root"></div>
{% endblock %}

{% block script %}
	{{ block.super }}
	{% render_bundle 'vendors' 'js' 'TRIWORLD' %}
	{% render_bundle 'main' 'js' 'TRIWORLD' %}
	{% render_bundle 'runtime-main' 'js' 'TRIWORLD' %}
{% endblock %}
