{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<section class="section container">
	<h1 class="title">Board Game Recommender</h1>
	<article class="content">
		<form method="GET">
			<p>Select a game for recommendations of similar games.</p>
			<div class="select"><select name="id">
				<option></option>
			{% for g in boardgames %}
				<option value="{{g.pk}}">{{g.name}}</option>
			{% endfor %}
			</select></div>
			<button class="button is-primary" type="submit">Go</button>
		</form>
	</article>
	<article>
		{% if match %}
		<div class="content"><h4>Results for {{match.name}}:</h4></div>
		{% endif %}
		<div class="columns is-multiline">
		{% for n in match.gameneighbor_set.all %}
			<div class="column is-one-third">
				<div class="box">
					<article class="media">
						<div class="media-content">
							<p><strong><a href="{{n.neighbor.bgg_link}}">{{n.neighbor.name}}</a></strong></p>
							<div class="level is-mobile is-marginless">
								<!--span class="tag is-rounded is-light">{{n.rank}}</span--> 
								<span>
									<span class="icon"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></span>{{n.rank}}
									<br/><span class="icon"><i class="fas fa-users" aria-hidden="true"></i></span>{{n.neighbor.minplayers}}-{{n.neighbor.maxplayers}}
								</span>
								<span>
									<span class="icon"><i class="fas fa-arrows-alt-h" aria-hidden="true"></i></span>{{n.distance|floatformat:3}}
									<br/><span class="icon"><i class="fas fa-clock" aria-hidden="true"></i></span>{% if n.neighbor.minplaytime and n.neighbor.maxplaytime and n.neighbor.minplaytime != n.neighbor.maxplaytime %}{{n.neighbor.minplaytime}}-{{n.neighbor.maxplaytime}}{%else%}{{n.neighbor.playingtime}}{%endif%}
								</span>
								<span>
									<span class="icon"><i class="fas fa-globe" aria-hidden="true"></i></span>{{n.neighbor.usersrated}}
									<br/><span class="icon"><i class="fas fa-star" aria-hidden="true"></i></span>{{n.neighbor.bayesaverage|floatformat:2}}
								</span>
							</div>
								<!--averageweight-->
						</div>
						<div class="media-right">
							<figure class="image is-96x96">
								<img src="{{n.neighbor.thumbnail}}" style="height: 100%; object-fit: cover;" />
							</figure>
						</div>
					</article>
				</div>
			</div>
		{% endfor %}
		</div>
	</article>
	<article class="content">
		{% if user.is_staff %}
		<p><a class="button is-warning" href="{% url 'bg_rec:unpickle' %}">Unpickle Data</a></p>
		{% endif %}
	</article>
</section>
{% endblock %}
