<div class="panel panel-default">
	<div class="panel-heading">Battalions</div>
	<table class="table">
		<tr>
			<th>#</th>
			<th>Creature</th>
			<th class="text-right">Count</th>
			<th class="text-right">Level</th>
			<th class="text-right">Weapon</th>
			<th class="text-right">Actions</th>
		</tr>
		<tr *ngFor="let b of player.battalions">
			<td><span class="label label-default">{{b.battalion_number}}</span></td>
			<td><span *ngIf="b.creature">{{b.creature.name}}</span></td>
			<td class="text-right"><span *ngIf="b.creature">{{b.count}}</span></td>
			<td class="text-right"><span *ngIf="b.creature">{{b.level}}</span></td>
			<td class="text-right"><span *ngIf="b.creature && b.weapon_material && b.weapon_base">{{b.weapon_material.name}} {{b.weapon_base.name}}</span></td>
			<td class="text-right">
				<div class="btn-group btn-group-xs" role="group">
					<a class="btn btn-default" routerLink="/battalion/{{b.battalion_number}}/hire" [class.btn-primary]="!b.creature"><span class="fas fa-users"></span></a>
					<a class="btn btn-default" routerLink="/battalion/{{b.battalion_number}}/train" [class.disabled]="!b.creature"><span class="fas fa-arrow-up"></span></a>
					<a class="btn btn-default" routerLink="/battalion/{{b.battalion_number}}/arm" [class.disabled]="!b.creature"><span class="fas fa-bolt"></span></a>
				</div>
			</td>
		</tr>
	</table>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-6 text-right">
				<p>Attack</p><p>Defense</p>
			</div>
			<div class="col-xs-6">
				<span style="display: inline-block;" class="text-right">
					<b><p>{{player.calc.attack|number:'1.1-1'}}</p><p>{{player.calc.defense|number:'1.1-1'}}</p></b>
				</span>
			</div>
		</div>
	</div>
</div>

<!--a routerLink="/upgrade/leaderlevel" class="btn btn-primary" title="Upgrade Leader Level"><span class="fas fa-user" aria-hidden="true"></span></a-->