body {
	min-height: 100vh;
    display: grid;
	grid-template-columns: 0fr 1fr 0fr;
    grid-template-rows: [login-start] 0fr [header-start] auto [main-start] 1fr [footer-start] 0fr;
	grid-template-areas: 	"llogin login rlogin"
							"header header header"
							"lspace main rspace"
							"lspace footer rspace";
}

#toggleLogin {
	grid-area: login;
	padding: .5rem;
}

#loginBg {
	grid-row: login-start / span 1;
	grid-column: 1/-1;
}

header {
	grid-area: header;
	padding: 0;
}

header nav {
	display: flex;
	justify-content: center;
	padding-top: .2rem;
	padding-bottom: .2rem;
}

.tw-nav-hex {
	stroke: none;
	fill: none;
}

.tw-nav-hex-ol {
	fill: #eee;
}

.tw-nav-hex-icon {
	stroke: #bbb;
	stroke-width: 3;
	fill: none;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.tw-nav-hex-icon-fill {
	fill: #bbb;
}

.tw-nav-hex:hover .tw-nav-hex-ol {
	fill: #9cf;
	stroke: #07f;
	stroke-width: 3;
}

.tw-nav-hex:hover .tw-nav-hex-icon {
	stroke: #07f;
}

.tw-nav-hex:hover .tw-nav-hex-icon-fill {
	fill: #07f;
}

main {
	grid-area: main;
	padding-left: .5rem;
	padding-right: .5rem;
}

section {
	padding: .5rem;
}

.tw-section-light {
	padding: .5rem;
	background: #eee;
	border-radius: .5rem;
}

footer {
	grid-area: footer;
	padding: .5rem;
	padding-bottom: .2rem;
}

.tw-col {
	display: flex;
	flex-direction: column;
}

.tw-full-width {
	grid-column: 1/-1;
}

.tw-puzzle-index {
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 1rem;
}

.tw-list {
	list-style-type: none;
	padding-inline-start: 0;
	margin-bottom: 0;
	border-top: 1px solid #eee;
}

.tw-list li {
	border-bottom: 1px solid #eee;
	padding-top: .5rem;
	padding-bottom: .5rem;
}

@media screen and (min-width: 992px) {
	body {
		grid-template-columns: 1fr 970px 1fr;
	}
	
	.tw-col {
		flex-direction: row;
		padding-left: 0;
		padding-right: 0;
	}
	
	.tw-col section {
		margin-left: .5rem;
		margin-right: .5rem;
	}
	
	.tw-puzzle-index {
		grid-template-columns: 1fr 2fr;
	}
}

#deveconsim-nav {
	padding: .5rem;
	margin-bottom: .2rem;
}

#deveconsim-nav + nav { /*make up space for fixed type nav bar*/
	padding: .5rem;
	margin-bottom: .5rem;
}

.game-nav-info>a {
	color: #9d9d9d;
}

.game-nav-info>a:focus, .game-nav-info>a:hover {
	color: #fff;
    text-decoration: none;
}

.neg-currency {
    color: #f00;
}

.form-actions {
    text-align: right;
    }
    
    
.form-group .controls .help-block {
    text-align: right;
    }

