{% extends "tristanwagner/base.html" %}
{% load staticfiles %}

{% block extracss %}{{ block.super }}<link rel="stylesheet" href="{% static 'deveconsim/css/jquery.bootstrap-touchspin.min.css' %}">{% endblock %}
{% block script %}{{ block.super }}<script src="{% static 'deveconsim/js/jquery.bootstrap-touchspin.min.js' %}"></script>{% endblock %}

{% block belowcontainer %}
    <nav class="navbar navbar-inverse navbar-fixed-bottom" id="game-nav">
        <div class="container">
            <div class="nav navbar-nav">
                <span class="btn-group btn-group-sm">
                    <a href="{% url 'deveconsim:index' %}" class="btn btn-default" title="Overview"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><span class="hidden-xs"> Overview</span></a>
                    <a href="{% url 'deveconsim:budget' %}" class="btn btn-default" title="Budget"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span><span class="hidden-xs"> Budget</span></a>
                    <a href="{% url 'deveconsim:index' %}" class="btn btn-default" title="Crops"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span><span class="hidden-xs"> Crops</span></a>
                    <a href="{% url 'deveconsim:index' %}" class="btn btn-default" title="Debt"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span><span class="hidden-xs"> Debt</span></a>
                    <a href="{% url 'deveconsim:index' %}" class="btn btn-default" title="People"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="hidden-xs"> People</span></a>
                </span>
                <span class="btn-group btn-group-sm pull-right">
                    <a href="{% url 'deveconsim:start' %}" class="btn btn-danger" title="Restart game"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></a>
                    <a class="btn btn-default" title="Turn {{turn.turn}}"><span class="hidden-xs">Turn </span>{{turn.turn}}{% if not turn.turn %}?{% endif %}</a>
                    <a href="{% url 'deveconsim:index' %}" class="btn btn-success" title="End turn"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
                </span>
            </nav>
        </div>
    </nav>
    
    <div class="modal fade" id="moreInfo" tabindex="-1" role="dialog" aria-labelledby="moreInfoLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="moreInfoLabel">{% block moreinfotitle %}More Info{% endblock %}</h4>
                </div>
                <div class="modal-body">{% block moreinfo %}More info goes here.{% endblock %}</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
