{% extends "deveconsim/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4>Choose an Open Game</h4>
            <div class="alert alert-warning">
                <p><b>Warning!</b> You may only have one open game. Please choose one to play and the others will be ended.</p>
            </div>
            
            <form role="form" class="form-inline" method="post">
                {% csrf_token %}
                <select name="game_pk" class="form-control">
                    {% for open_game in open_games %}<option value="{{open_game.pk}}">{{open_game}}</option>{% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Choose</button>
            </form>
        </div>
    </div>
{% endblock %}
