{% extends "deveconsim/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load deveconsim_extras %}

{% block content %}
    {% if turn.turn == 1 %}
        <div class="alert alert-info" role="alert">
            <h4>Tutorial: Part I</h4>
            <p>Welcome to the Developing Economy Simulation Game! This game is meant to give you insight into the difficulties of integrating a developing country into the world economy by putting you in charge.</p>
            <p>Your country does not start out with much industry, so you rely on agriculture for most of your income.</p>
            <p><ol>
                <li>Go to the <b><a href="{% url 'deveconsim:crops' %}"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span> Crops</a></b> page and click the <button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button> button at the top of that page to learn more about managing crops.</li>
                <li>When you are ready, click the <button type="button" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button> button in the nav bar below to proceed to the next turn.</li>
            </ol></p>
            <p>If your <b>Forecasted General Fund</b> is negative, you may need to make more changes on the <b><a href="{% url 'deveconsim:crops' %}"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span> Crops</a></b> page.
                If your general fund would be positive except for interest payments to the World Bank, the World Bank will make you a special offer when you end the turn.</p>
        </div>
    {% elif turn.turn == 2 %}
        <div class="alert alert-info" role="alert">
            <h4>Tutorial: Part II</h4>
            <p>Well, you've made it through your first year as leader of a developing country successfully!
            Congratulations! There is some bad news to report, though-- cocoa prices have fallen.
            You can see a graph by clicking on the link that is the current cocoa price in the crops table.
            You may wish to change how your crops are planted based on this new information, but remember, it costs money to plant crops.
            In addition, if you used pesticides, the productivity of your country's land will have decreased slightly, resulting in slightly smaller crop yields.</p>
            <p>To continue on with the tutorial, this year we will look at your country's budget.
            Within the budget, you can raise taxes and spend money on services for your citizens.
            You can get to the budget section by either clicking on the link at the top of the &quot;Budget&quot; table below, or you can use the &quot;Budget&quot; link in the &quot;Simulation Game&quot; menu to the left.
            The tutorial will continue there, and you can return here to the main page as soon as you are finished with that portion.</p>
        </div>
    {% elif turn.turn == 3 %}
        <div class="alert alert-info" role="alert">
            <h4>Tutorial: Part III</h4>
            <p>I'm afraid I have some more bad news for you. Cocoa prices have fallen again, although not as much as they fell last year.
            The reason for this is that other developing countries like yours have decided to plant cocoa also, increasing the world supply of cocoa and driving prices down.</p>
            <p>On the other hand, you have made it to your third year-- many leaders of your country haven't lasted even that long.
            This year you will find out how to repay your country's debts to private banks and the World Bank, to reduce the size of your country's annual interest payments.
            You can get to the debt section by either clicking on the link at the top of the &quot;Debt&quot; table below, or you can use the &quot;Debt&quot; link in the &quot;Simulation Game&quot; menu to the left.
            The tutorial will continue there, and you can return here to the main page as soon as you are finished with that portion.</p>
        </div>
    {% elif turn.turn == 4 %}
        <div class="alert alert-info" role="alert">
            <h4>Tutorial: Part IV</h4>
            <p>Cocoa prices dropped again this year, rather steeply.
            If you wish, you may look at the graph by clicking on the link that is the current price of cocoa.</p>
            <p>This year is the final year of the tutorial (you are encouraged to continue playing the game afterwards, now that you know how!).
            In this part of the tutorial, we will learn how you can check the happiness of your country's citizens, and what the results of very unhappy citizens can be.
            You can get to the happiness section by either clicking on the link at the top of the &quot;Happiness&quot; table below, or you can use the &quot;Happines&quot; link in the &quot;Simulation Game&quot; menu to the left.
            The tutorial will continue and finish there, and you will be free to continue however you wish.</p>
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            <p>You have completed the tutorial. To change how your country is run, or to learn what something means, click on the link at the top of a section (e.g., &quot;Budget&quot;).
            Once you have finished making changes, press the &quot;End Year&quot; button to continue on to the next year.</p>
        </div>
    {% endif %}
        
        <h4><a href="{% url 'deveconsim:budget' %}"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Budget</a></h4>
        {% include "deveconsim/budget_table.html" %}
        
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <h4><a href="{% url 'deveconsim:crops' %}"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span> Crops</a></h4>
                {% include "deveconsim/crops_table.html" %}
                
                <h4><a href="{% url 'deveconsim:debt' %}"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Debt</a></h4>
                {% include "deveconsim/debt_table.html" %}
            </div>
            <div class="col-sm-12 col-md-4">
                <h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Happiness</h4>
                {% include "deveconsim/happiness_table.html" %}
            </div>
    </div>
{% endblock %}