{% extends "deveconsim/base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4>Start a New Game</h4>
            {% if open_games %}
                <div class="alert alert-warning">
                    <p><b>Warning!</b> Creating a new game will end any games still in progress:</p>
                    <ul>
                        {% for open_game in open_games %}<li>{{open_game}}</li>{% endfor %}
                    </ul>
                </div>
            {% endif %}
            
            <form role="form" class="form-horizontal" method="post">
                {% csrf_token %}
                {% if form.name.errors %}<div class='alert alert-danger'>{{ form.name.errors }}</div>{% endif %}
                <div class="input-group">
                    {{form.name}}
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Start</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
