{% extends "deveconsim/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load deveconsim_extras %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
	<h3>
		<span class="float-right"><button type="button" class="btn btn-link" data-toggle="modal" data-target="#moreInfo" title="More explanation"><i class="fas fa-question-circle"></i></button></span>
		<i class="fas fa-seedling"></i> Crops
	</h3>
	<p>
		Your country does not start out with much industry, so you rely on agriculture for most of your income.
		This page allows you to choose which type of pesticides are used in your country and how your cropland is allocated between corn and cocoa.
	</p>
	{% crispy form %}
{% endblock %}

{% block moreinfotitle %}More About <i class="fas fa-seedling"></i> Crops{% endblock %}

{% block moreinfo %}{% include 'deveconsim/tutorial_crops.html' %}{% endblock %}