{% extends "deveconsim/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load deveconsim_extras %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
	<h3>
		<span class="float-right"><button type="button" class="btn btn-link" data-toggle="modal" data-target="#moreInfo" title="More explanation"><i class="fas fa-question-circle"></i></button></span>
		<i class="fas fa-piggy-bank"></i> Debt
	</h3>
	<p>
		Debt is an important way to gain financing for your country, but too large of interest payments can put a heavy strain on your budget.
	</p>
	{% crispy form %}
{% endblock %}

{% block moreinfotitle %}More About <i class="fas fa-piggy-bank"></i> Debt{% endblock %}

{% block moreinfo %}{% include 'deveconsim/tutorial_debt.html' %}{% endblock %}