{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
#chart1 svg {
	height: 180px;
	}
	
#chart1 path {
	stroke: #fff;
	stroke-width: 1;
	}
</style>
<div style="position: relative;">
	<div id="chart1"></div>
	<div style="position:absolute; margin: -70px 0 0 -70px; width: 140px; height: 140px; top: 70px; left: 70px; text-align: center;">
		<p id="chart1-total" style="position: absolute; top: 50%; width: 100%; margin-top: -24%; font-size: 30px;">-</p>
		<p style="position: absolute; top: 50%; width: 100%; margin-top: 3%; font-size: 9px; text-transform: uppercase;">games played<br/>in past 52 weeks</p>
	</div>
</div>


	
    <p>All information is pulled from my <a href="https://boardgamegeek.com/user/{{bgg_user}}">profile</a> on the excellent site <a href="http://www.boardgamegeek.com">boardgamegeek.com</a>.</p>
    <div class="row">
        <div class="col-sm-4 col-sm-push-8 col-xs-12">
            <h3>Recent Plays</h3>&nbsp;
            <ul class="list-group">
            {% regroup plays by date as date_list %}
            {% for date in date_list %}
                <li class="list-group-item">
                    <p><b>{{date.grouper|date:"D, M j"}}</b></p>
                {% for play in date.list %}
                    <p>
                        <a href="https://boardgamegeek.com/boardgame/{{play.game_id}}">{{play.name}}</a>
                        {% if play.quantity > 1 %}<span class="label label-info">x{{play.quantity}}</span>{% endif %}
                        {% for expansion in play.expansions %}<br/><small>+ <a href="https://boardgamegeek.com/boardgame/{{expansion.game_id}}">{{ expansion.name }}</a></small>{% endfor %}
                    </p>
                {% endfor %}
                </li>
                
            {% endfor %}
                <li class="list-group-item">
                    ...see my <a href="https://boardgamegeek.com/user/{{bgg_user}}">BGG profile</a> for more.
                </li>
            </ul>
        </div>
        <div class="col-sm-8 col-sm-pull-4 col-xs-12">
            <h3>Favorites</h3>&nbsp;
            <div class="row">
            {% for game in favs %}
                <div class="col-lg-4 text-center">
                    <a href="https://boardgamegeek.com/boardgame/{{game.id}}">
                        <img class="img-circle" src="{{game.thumbnail}}" style="width: 140px; height: 140px;">
                        <h4>{{game.name}}</h4>
                    </a>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Quick stats">
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Players"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{game.minplayers}}{% if game.minplayers != game.maxplayers %}-{{game.maxplayers}}{% endif %}</button>
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Play time (minutes)"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{game.minplaytime}}{% if game.minplaytime != game.maxplaytime %}-{{game.maxplaytime}}{% endif %}</button>
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Logged plays"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> {{game.numplays}}</button>
                    </div>
                    <p class="text-left" style="margin-top: 1em;">{{game.description|safe|truncatewords:35}}</p>
                    <div style="height: 3em;">&nbsp;</div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                <div class="clearfix visible-lg-block"></div>
                {% endif %}
            {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'd3/d3.min.js' %}"></script>
<script src="{% static 'd3-circularheat/js/circularHeatChart.js' %}"></script>
<script>
var chart = circularHeatChart()
	.segmentHeight(10)
    .innerRadius(60)
    .numSegments(52)
    .radialLabels(null)
    .segmentLabels(null)
    .margin({top: 0, right: 0, bottom: 0, left: 0})
	.range(["white", "forestgreen"]); //palegreen

(function() {
  $.getJSON( "{% url 'games:api-past-52-weeks' %}", {})
    .done(function( data ) {
		var chart_data = [];
		var total_count = 0;
		data.forEach(function(v) {
			chart_data.push(v.count);
			total_count += v.count;
			});
		d3.select('#chart1')
			.selectAll('svg')
			.data([chart_data])
			.enter()
			.append('svg')
			.call(chart);
		$('#chart1-total').text(total_count);
    });
})();
</script>
{% endblock %}