{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'cal-heatmap/cal-heatmap.css' %}" />
	
	<script type="text/javascript" src="{% static 'd3/d3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'cal-heatmap/cal-heatmap.min.js' %}"></script>
	
	<div id="cal-heatmap"></div>
	<script type="text/javascript">
		var parser = function(data) {
			var stats = {};
			for (var d in data) {
				stats[data[d].timestamp] = data[d].quantity;
			}
			return stats;
		};
	
		var cal = new CalHeatMap();
		cal.init({
			domain: "year",
			subDomain: "week",
			range: 1,
			data: "{% url 'games:api-play-list' %}",
			afterLoadData: parser,
			legend: [1,2,4,8],
			displayLegend: false,
			cellSize: 15,
			cellPadding: 0,
			domainLabelFormat: ""
		});
	</script>

	<!--table class="table">
		<tr><th>id</th><th>game_id</th><th>name</th><th>date</th><th>qty</th></tr>
	{% for p in play_list %}
		<tr><td>{{p.bgg_play_id}}</td><td>{{p.bgg_game_id}}</td><td>{{p.game_name}}</td><td>{{p.date}}</td><td>{{p.quantity}}</td></tr>
	{% endfor %}
	</table-->
{% endblock %}
