{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block extracss %}
	{{ block.super }}
	{% render_bundle 'vendors' 'css' 'TIMETRACKER' %}
	{% render_bundle 'main' 'css' 'TIMETRACKER' %}
	{% render_bundle 'runtime~main' 'css' 'TIMETRACKER' %}
{% endblock %}

{% block content %}
<section class="section container">
	<div id="root"></div>
</section>
{% endblock %}

{% block script %}
	{{ block.super }}
	{% render_bundle 'vendors' 'js' 'TIMETRACKER' %}
	{% render_bundle 'main' 'js' 'TIMETRACKER' %}
	{% render_bundle 'runtime~main' 'js' 'TIMETRACKER' %}
{% endblock %}
