<div class="row">
	<div class="col-md-4">
		<form>
			<div *ngIf="battalion" class="panel panel-primary">
				<div class="panel-heading">
					<a routerLink="/" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
					Arm: Battalion {{battalion.battalion_number}}
				</div>
				<table class="table">
					<tr *ngIf="battalion.up_opts_weapon_base && battalion.up_opts_weapon_material">
						<th>Base</th>
						<td>
							<select class="form-control" id="weapon_base" name="weapon_base" [(ngModel)]="selectedWeaponBase">
								<option *ngFor="let w of battalion.up_opts_weapon_base" [ngValue]="w">{{w.name}}</option>
							</select>
						</td>
					</tr>
					<tr *ngIf="battalion.up_opts_weapon_base && battalion.up_opts_weapon_material"> 
						<th>Material</th>
						<td>
							<select class="form-control" name="weapon_material" [(ngModel)]="selectedWeaponMaterial">
								<option *ngFor="let w of battalion.up_opts_weapon_material" [ngValue]="w">{{w.name}}</option>
							</select>
						</td>
					</tr>
					<tr *ngIf="selectedWeaponBase">
						<th>You Have</th>
						<td class="text-right">{{player.gold | number}} <span class="fas fa-coins"></span></td>
					</tr>
					<tr *ngIf="selectedWeaponBase && cost >= 0">
						<th>Cost</th>
						<td class="text-right">{{cost | number}} <span class="fas fa-coins"></span></td>
					</tr>
					<tr *ngIf="selectedWeaponBase && cost < 0">
						<th>Refund</th>
						<td class="text-right">{{-cost | number}} <span class="fas fa-coins"></span></td>
					</tr>
					<tr>
						<td colspan="2" class="text-right">
							<a routerLink="/" class="btn btn-default">Cancel</a>&nbsp;
							<a class="btn btn-primary" (click)="save()" [class.disabled]="cost > player.gold">Arm</a>
						</td>
					</tr>
				</table>
			</div>
		</form>
	</div>
	<div class="col-md-8">
		<h4>Battalions</h4>
		<div class="table-responsive">
			<table *ngIf="player" class="table">
				<tr>
					<th>#</th>
					<th>Creature</th>
					<th>Count</th>
					<th>Level</th>
					<th>Weapon</th>
				</tr>
				<tr *ngFor="let b of player.battalions" [class.active]="battalion && b.id == battalion.id">
					<td><span class="label label-default">{{b.battalion_number}}</span></td>
					<td>
						<span *ngIf="b.creature">{{b.creature.name}}</span>
						<span *ngIf="!b.creature">-</span>
					</td>
					<td><span *ngIf="b.creature">{{b.count}}</span></td>
					<td><span *ngIf="b.creature">{{b.level}}</span></td>
					<td>
						<span *ngIf="b.creature && b.weapon_material && b.weapon_base">{{b.weapon_material.name}} {{b.weapon_base.name}}</span>
						<span *ngIf="b.creature && !b.weapon_material">-</span>
					</td>
				</tr>
			</table>
		</div>
		<div *ngIf="weapon_bases" class="table-responsive">
			<h4>Weapon Base</h4>
			<table class="table">
				<tr>
					<th>Name</th>
					<th class="text-right">Gold Cost</th>
					<th class="text-right">Required Technology</th>
					<th class="text-right">Required Structure</th>
					<th class="text-right">Attack Multiplier</th>
				</tr>
				<tr *ngFor="let w of weapon_bases">
					<td>{{w.name}}</td>
					<td class="text-right">{{w.cost_gold | number}}</td>
					<td class="text-right">
						<span *ngIf="w.tech_req">
							{{w.tech_req.name}}
							<span *ngIf="playerHasTechNamed(w.tech_req.name)" class="text-success"><span class="fas fa-check-circle"></span></span>
						</span>
					</td>
					<td class="text-right">
						<span *ngIf="w.struct_req">
							{{w.struct_req.name}}
							<span *ngIf="playerHasStructNamed(w.struct_req.name)" class="text-success"><span class="fas fa-check-circle"></span></span>
						</span>
					</td>
					<td class="text-right">{{w.attack_mult | number}}</td>
				</tr>
			</table>
		</div>
		<div *ngIf="weapon_materials" class="table-responsive">
			<h4>Weapon Material</h4>
			<table class="table">
				<tr>
					<th>Name</th>
					<th class="text-right">Cost Multiplier</th>
					<th class="text-right">Required Technology</th>
					<th class="text-right">Required Structure</th>
					<th class="text-right">Attack Multiplier</th>
					<th class="text-right">Armor</th>
				</tr>
				<tr *ngFor="let w of weapon_materials">
					<td>{{w.name}}</td>
					<td class="text-right">{{w.cost_mult | number}}</td>
					<td class="text-right">
						<span *ngIf="w.tech_req">
							{{w.tech_req.name}}
							<span *ngIf="playerHasTechNamed(w.tech_req.name)" class="text-success"><span class="fas fa-check-circle"></span></span>
						</span>
					</td>
					<td class="text-right">
						<span *ngIf="w.struct_req">
							{{w.struct_req.name}}
							<span *ngIf="playerHasStructNamed(w.struct_req.name)" class="text-success"><span class="fas fa-check-circle"></span></span>
						</span>
					</td>
					<td class="text-right">{{w.attack_mult | number}}</td>
					<td class="text-right">{{w.armor | number}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>