<div class="row">
	<div class="col-md-4">
		<div *ngIf="player" class="panel panel-primary">
			<div class="panel-heading">
				<a routerLink="/" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
				Upgrade Leader Level
			</div>
			<table *ngIf="player.up_opt_ll" class="table">
				<tr>
					<th>Current Level</th>
					<td class="text-right">{{player.ll.level}}</td>
				</tr>
				<tr>
					<th>Next Level</th>
					<td class="text-right">{{player.up_opt_ll.level}}</td>
				</tr>
				<tr>
					<th>Current XP</th>
					<td class="text-right">{{player.xp | number}}</td>
				</tr>
				<tr>
					<th>XP Cost to Upgrade</th>
					<td class="text-right">{{player.up_opt_ll.cost_xp | number}}</td>
				</tr>
				<tr>
					<td colspan="2" class="text-right">
						<a routerLink="/" class="btn btn-default">Cancel</a>&nbsp;
						<a class="btn btn-primary" (click)="save()">Upgrade</a>
					</td>
				</tr>
			</table>
			<table *ngIf="!player.up_opt_ll" class="table">
				<tr>
					<th>Current Level</th>
					<td class="text-right">{{player.ll.level}}</td>
				</tr>
				<tr>
					<th>Next Level</th>
					<td class="text-right">No upgrade available/affordable.</td>
				</tr>
				<tr>
					<td colspan="2" class="text-right">
						<a routerLink="/" class="btn btn-default">Cancel</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="col-md-8">
		<div class="table-responsive">
			<table *ngIf="leaderlevels" class="table">
				<tr>
					<th>Leader Level</th>
					<th class="text-right">XP Cost</th>
					<th class="text-right">Life</th>
					<th class="text-right">Creature Points</th>
					<th class="text-right">Creatures Enabled</th>
				</tr>
				<tr *ngFor="let ll of leaderlevels">
					<td>{{ll.level}}</td>
					<td class="text-right">{{ll.cost_xp | number}}</td>
					<td class="text-right">{{ll.life | number}}</td>
					<td class="text-right">{{ll.cp | number}}</td>
					<td class="text-right">
						<span *ngFor="let creature of ll.enabled_creatures; let isLast=last">{{creature.name}}{{isLast ? '' : ', '}}</span>
						<span *ngIf="!ll.enabled_creatures.length">-</span>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>