<div class="jumbotron" style="background: url('../assets/bird-s-eye-view-forest-green-113338.jpg') no-repeat center center; background-size: 1200px;">
	<div class="row">
		<div class="col-xs-11 text-right"><app-jukebox></app-jukebox></div>
	</div>
	<h1 class="text-center" style="color: #dff0d8;">The Mossflower Patrol Game</h1>
	&nbsp;
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
			<form *ngIf="resumeGames.length">
				<div class="input-group">
					<select class="form-control" id="resume" name="resume" [(ngModel)]="resume">
						<option *ngFor="let g of resumeGames" [ngValue]="g">{{g.player.character_name}}, game "{{g.name}}" started {{g.started_date | date:'shortDate'}}</option>
					</select>
					<span class="input-group-btn">
						<button type="button" class="btn btn-success" (click)="resumeGame()" [disabled]="!resume">Resume</button>
					</span>
				</div>&nbsp;
			</form>
			<a *ngIf="mps.forbidden" class="btn btn-default btn-block disabled">Must be logged in to play</a>
		</div>
	</div>
</div>
<div class="row">
	<div *ngIf="!mps.forbidden" class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Join a Game</h4>
			</div>
			<div class="panel-body">
				<form *ngIf="joinGames.length">
					<alert *ngIf="errors && errors.operation == 'joinGame' && errors.errors.non_field_errors" type="warning">
						<ul><li *ngFor="let e of errors.errors.non_field_errors">{{e}}</li></ul>
					</alert>
					<div class="form-group">
						<label for="game" hidden>Join Game</label>
						<select class="form-control" id="join" name="join" [(ngModel)]="join">
							<option *ngFor="let g of joinGames" [ngValue]="g">"{{g.name}}" started {{g.started_date | date:'shortDate'}}</option>
						</select>
					</div>
					<div class="input-group">
						<input type="text" class="form-control" id="character_name" name="character_name" [(ngModel)]="character_name" placeholder="Character name"/>
						<span class="input-group-btn">
							<button type="button" class="btn btn-primary" (click)="joinGame()" [disabled]="!join || !character_name || joining">Join</button>
						</span>
					</div>
				</form>
				<a *ngIf="!joinGames.length" class="btn btn-default btn-block disabled">No new games available to join <span class="far fa-frown"></span></a>
			</div>
		</div>
	</div>
	<div [class]="mps.forbidden ? 'col-sm-12' : 'col-sm-8'">
		<h4>History</h4>
		<p>blah blah</p>
		<p>blah blah</p>
	</div>
</div>