<div class="panel panel-default">
	<div class="panel-heading">
		<span class="pull-right"><a [routerLink]="" (click)="openModal(moreInfo)" title="More info on Actions"><span class="far fa-question-circle" aria-hidden="true"></span></a></span>
		<span class="badge">{{player.avail_action_points}}</span>
		Actions
	</div>
	<table class="table">
		<tr>
			<td>
				<button type="button" class="btn btn-success" [disabled]="!player.avail_action_points" title="Work" (click)="openModal(actionWork)"><span class="fas fa-briefcase" aria-hidden="true"></span></button>
			</td>
			<td>
				Earnings per Turn
			</td>
			<td class="text-right">
				{{player.calc.work_gold}} <span class="fas fa-coins"></span>
			</td>
			<td class="text-right">
				{{player.calc.work_xp}} <span class="fas fa-angle-double-up"></span>
			</td>
		</tr>
		<tr>
			<td>
				<button type="button" class="btn btn-warning" [disabled]="!player.avail_action_points" title="Spy" (click)="openModal(actionSpy)"><span class="fas fa-user-secret" aria-hidden="true"></span></button>
			</td>
			<td>
				Spy Attempts
			</td>
			<td colspan="2" class="text-right">{{player.spy_attempts | number}}</td>
		</tr>
		<tr>
			<td>
				<button type="button" class="btn btn-danger" [disabled]="!player.avail_action_points" title="Attack" (click)="openModal(actionAttack)"><span class="fas fa-bullseye" aria-hidden="true"></span></button>
			</td>
			<td>
				Battles Fought
			</td>
			<td colspan="2" class="text-right">{{player.battles_fought | number}}</td>
		</tr>
	</table>
</div>

<ng-template #moreInfo>
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" aria-label="Close" (click)="closeModal()"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Actions</h4>
		</div>
		<div class="modal-body">
			<p>You may only complete <b>one</b> of the following actions <b>per day</b>.</p>
			<p>New players are protected from being spied on or attacked until they have completed their first 3 actions.</p>
			<h4><span class="fas fa-briefcase" aria-hidden="true"></span> Work</h4>
			<p>An easy way to increase your gold and experience reserves is to put your creatures to work. The amount you earn is largely determined by creature type and number of creatures, though there are also several other factors which can increase your earnings.</p>
			<h4><span class="fas fa-user-secret" aria-hidden="true"></span> Spy</h4>
			<p>You can spy on another patrol master to find out how many total creatures they have. Sometimes your spy may return additional information (e.g., attack rating or defense rating). <i>There is a chance that your espionage activities will be discovered by the target!</i> You will be informed if your spy was spotted.</p>
			<h4><span class="fas fa-bullseye" aria-hidden="true"></span> Attack</h4>
			<p>You can demonstrate your patrol's abilities by challenging another player. The winner will receive gold and experience.</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
		</div>
	</div>
</ng-template>

<ng-template #actionWork>
	<div class="modal-header">
		<button type="button" class="close" aria-label="Close" (click)="closeModal()" [class.disabled]="processing"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title"><span class="fas fa-briefcase" aria-hidden="true"></span> Work</h4>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to use your daily action to put your creatures to work?</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" (click)="closeModal()" [disabled]="processing">Cancel</button>
		<button type="button" class="btn btn-primary" (click)="save('work')" [disabled]="processing || !player.avail_action_points">
			<span *ngIf="processing">Submitting...</span>
			<span *ngIf="!processing">Submit</span>
		</button>
	</div>
</ng-template>

<ng-template #actionSpy>
<form>
	<div class="modal-header">
		<button type="button" class="close" aria-label="Close" (click)="closeModal()" [class.disabled]="processing"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title"><span class="fas fa-user-secret" aria-hidden="true"></span> Spy</h4>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label for="targetPlayer">Target player</label>	
			<select class="form-control" id="targetPlayer" name="targetPlayer" [(ngModel)]="targetPlayer">
				<ng-container *ngFor="let p of playerList">
					<option *ngIf="p.id != player.id && !p.is_protected" [ngValue]="p">{{p.character_name}}</option>
				</ng-container>
			</select>
		</div>
		<p>Are you sure you want to use your daily action to spy?</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" (click)="closeModal()" [disabled]="processing">Cancel</button>
		<button type="button" class="btn btn-primary" (click)="save('spy')" [disabled]="processing || !targetPlayer || !player.avail_action_points">
			<span *ngIf="processing">Submitting...</span>
			<span *ngIf="!processing">Submit</span>
		</button>
	</div>
</form>
</ng-template>

<ng-template #actionAttack>
<form>
	<div class="modal-header">
		<button type="button" class="close" aria-label="Close" (click)="closeModal()" [class.disabled]="processing"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title"><span class="fas fa-bullseye" aria-hidden="true"></span> Attack</h4>
	</div>
	<div class="modal-body">
		<div class="form-group">
			<label for="targetPlayer">Target player</label>	
			<select class="form-control" id="targetPlayer" name="targetPlayer" [(ngModel)]="targetPlayer">
				<ng-container *ngFor="let p of playerList">
					<option *ngIf="p.id != player.id && !p.is_protected" [ngValue]="p">{{p.character_name}}</option>
				</ng-container>
			</select>
		</div>
		<p>Are you sure you want to use your daily action to attack?</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" (click)="closeModal()" [disabled]="processing">Cancel</button>
		<button type="button" class="btn btn-primary" (click)="save('attack')" [disabled]="processing || !targetPlayer || !player.avail_action_points">
			<span *ngIf="processing">Submitting...</span>
			<span *ngIf="!processing">Submit</span>
		</button>
	</div>
</form>
</ng-template>