<!doctype html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/tw.css' %}">
    {% block extracss %}{% endblock %}
	
	<script src="https://kit.fontawesome.com/3ef8ab7c33.js"></script>

	<title>{% block title %}Tristan's Website{% endblock title %}</title>
  </head>

  <body>
	<div class="pos-f-t">
		<div class="collapse" id="navbarToggleExternalContent">
			<div class="bg-light p-4">
				<ul>
				{% if user.is_authenticated %}
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" id="navUserLabel" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					Logged in as {{ user.username }} <span class="caret"></span>
					</a>
					<ul class="dropdown-menu" aria-labelledby="navUserLabel">
					<li><a href="{% url 'password_change' %}">Change Password</a></li>
					</ul>
					</li>
					<li><a href="{% url 'logout' %}?next={{request.get_full_path}}">Log Out</a></li>
				{% else %}
					<form class="form-inline" role="form" action="{% url 'login' %}" method="POST">
					{% csrf_token %}
					<input name="username" type="text" placeholder="Username" class="form-control">
					<input name="password" type="password" placeholder="Password" class="form-control">
					<input type="hidden" name="next" value="{{request.get_full_path}}">
					<button type="submit" class="btn btn-primary">Log in</button>
					</form>
				{% endif %}
				</ul>
			</div>
		</div>
	</div>
	
	<header>
		<nav class="navbar navbar-light">
			<span></span>
			<div>
				<a href="#" class="btn btn-link"><i class="fas fa-home"></i></a>
				<a href="#" class="btn btn-link"><i class="fas fa-blog"></i></a>
				<a href="#" class="btn btn-link"><i class="fas fa-info-circle"></i></a><!--i class="far fa-smile"></i><i class="fas fa-info-circle"></i-->
				<a href="#" class="btn btn-link" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
					{% if user.is_authenticated %}
					<i class="fas fa-user-check"></i>
					{% else %}
					<i class="fas fa-user-slash"></i>
					{% endif %}
				</a>
			</div>
			<span></span>
		</nav>
	</header>
		
	<main>{% block content %}{% endblock content%}</main>
		
	<footer>
		{% block footer %}
		<div class="container text-muted">&copy; 2015-{% now "Y" %} Tristan Wagner &middot; <a href="/admin">Admin</a></div>
		{% endblock footer %}
	</footer>
	
	<div>
		{% block belowcontainer %}{% endblock belowcontainer %}

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		<script>
		$(document).ready(function(){
			$('[data-toggle="popover"]').popover(); 
			});
		</script>
		{% block script %}
		{% endblock %}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-12674853-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</div>
  </body>
</html>
