<div class="panel panel-default">
	<div class="panel-heading">
		<span class="pull-right"><a href data-toggle="modal" data-target="#moreInfoUpgrades" title="More info on Upgrades"><span class="far fa-question-circle" aria-hidden="true"></span></a></span>
		Upgrades
	</div>
	<table class="table">
		<tr>
			<td><a routerLink="/upgrade/leaderlevel" class="btn btn-primary" title="Upgrade Leader Level"><span class="fas fa-user" aria-hidden="true"></span></a></td>
			<td>Leader Level</td>
			<td>
				{{player.ll.level}} <span class="fas fa-user" aria-hidden="true"></span>
			</td>
			<td>
				<span title="{{player.calc.cp_avail}} Creature Points">{{player.calc.cp_avail}}/{{player.ll.cp}} <span class="fas fa-bullhorn" aria-hidden="true"></span></span>
			</td>
			<td>
				<span title="{{player.ll.life}} Life">{{player.ll.life}} <span class="fas fa-heart" aria-hidden="true"></span></span>
			</td>
		</tr>
		<tr>
			<td><a routerLink="/upgrade/technology" class="btn btn-primary" title="Research"><span class="fas fa-flask" aria-hidden="true"></span></a></td>
			<td>Technologies</td>
			<td colspan="3">
				<span *ngFor="let tech of player.technologies"><a><span class="badge">{{tech.name}}</span></a>&nbsp;</span>
				<div *ngIf="!player.technologies.length">-</div>
			</td>
		</tr>
		<tr>
			<td><a routerLink="/upgrade/structure" class="btn btn-primary" title="Build"><span class="fas fa-building" aria-hidden="true"></span></a></td>
			<td>Structures</td>
			<td colspan="3">
				<span *ngFor="let structure of player.structures"><a><span class="badge">{{structure.name}}</span></a>&nbsp;</span>
				<div *ngIf="!player.structures.length">-</div>
			</td>
		</tr>
	</table>
</div>

<div class="modal fade" id="moreInfoUpgrades" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Upgrades</h4>
			</div>
			<div class="modal-body">
				<h4><span class="fas fa-user" aria-hidden="true"></span> Leader Level</h4>
				<p>Higher leader levels grant you attack and defense bonuses in combat, greater life points, and enable you to hire additional creature types. You will also gain more food from protecting more villagers, allowing you to hire more creatures into your army (creature points).</p>
				<h4><span class="fas fa-flask" aria-hidden="true"></span> Technologies</h4>
				<p>Researching new technologies enables you to forge new weapons for your army and construct new structures.</p>
				<h4><span class="fas fa-building" aria-hidden="true"></span> Structures</h4>
				<p>Some structures enable other functions in the game, such as arming or training battalions. Other structures will increase your income.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>